h1, h2, h3 {
	font-family: "Oswald", sans-serif;
}
p{
	font-family: "EB Garamond", serif;
}

<style>
	
	body {
		color: rgba(255,255,255,.6);
		font-size: 1em;
		font-family: "Varela Round", Arial, Helvetica, sans-serif;
	}
</style>
