/* orelega-one-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Orelega One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/orelega-one-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* open-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/open-sans-v44-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



html {
  background-image: url('https://www.nicepng.com/png/full/188-1882425_hd-light-plain-blue-background.png');
  background-repeat: repeat;
	background-color: #ffffff;
}



html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Orelega One', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Orelega One', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 2.37em;
}


h1 {
            color: #ADD7F6;
        
        }
h2 {
  color: #87BFFF
}

h3 {
  color: #3F8EFC
}

h2,
.text-size-h2 { font-size: 2.37em; }

h3,
.text-size-h3 { font-size: 2.37em; }

h4,
.text-size-h4 { font-size: 1.78em; }

h5,
.text-size-h5 { font-size: 1.33em; }

.text-caption { font-size: 0.75em; }

small,
.text-small {
  font-size: 0.56em;
}
              
