body {
  margin: 0;
  border: 0;
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 3.815rem;
}

h2 {
  font-size: 3.052rem;
}

p {
  font-size: 1rem;
}

h1,
h2 {
  text-align: center;
}

/* CSS Grid Container */
.gridContainer {
  display: grid;
  border: 4px gray solid;
  border-radius: 5px;
  width: 1700px;
 height: 900px;
  grid-template: repeat(2, 1fr) / repeat(6, 1fr); 
  /* grid-template: repeat(4, 1fr 2fr) / repeat(4, 3fr 2fr); */
  gap: 10px; 
}


/* CSS Grid Items */
.box {
  background-color: lightpink;
  color: black;
  border-radius: 5px;
  border: 4px pink solid;

}



.a {
  /* grid-row: 4 / span 2;
  grid-column: 3 / span 3; 
  grid-area: 2 / 3/ span 4/ span 5;
}


*/



