h1, h2, h3 {
	font-family: "Oswald", sans-serif;
}

p {
      line-height: 1.5; 
    }


p{
	font-family: "EB Garamond", serif;
}
p {
  font-size: 16px;
}
h1, h2, h3, h4, h5, h5, h6 {
	font-size: 18px;
}

h1 {
            color: #FFC0CB;
        
        }
        h2 {
            color: #FFB6C1;
           
        }
   
        h3 {
            color: #FF69B4;
           
        }
   
        h4 {
            color: #FF1493;
           
        }
   
        h5 {
            color: #DB7093;
           
        }
   
        h6 {
            color: #FF00FF;
           
        }
